<!-- shop/product_list.html -->
<div class="row">
    <div class="col-md-3">
        <h4>Categories</h4>
        <ul class="list-group">
            <li class="list-group-item {% if not current_category %}active{% endif %}">
                <a href="{% url 'product_list' %}">All</a>
            </li>
            {% for cat in categories %}
            <li class="list-group-item {% if current_category == cat %}active{% endif %}">
                <a href="{% url 'product_list_by_category' cat.slug %}">{{ cat.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-9">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5>{{ product.name }}</h5>
                            <p>${{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No products in this category.</p>
            {% endfor %}
        </div>
    </div>
</div>
